___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
url = 'https://raw.githubusercontent.com/ArhumAhmad/Python-for-Data-Science-and-ML-Bootcamp--Udemy-/main/Section%207%20(Pandas%20Exercises)/Salaries.csv'
sal = pd.read_csv(url, index_col=0)

** Check the head of the DataFrame. **

In [4]:
sal.head()

         EmployeeName  ... Status
Id                     ...
1      NATHANIEL FORD  ...    NaN
2        GARY JIMENEZ  ...    NaN
3      ALBERT PARDINI  ...    NaN
4   CHRISTOPHER CHONG  ...    NaN
5     PATRICK GARDNER  ...    NaN

[5 rows x 12 columns]

** Use the .info() method to find out how many entries there are.**

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148654 entries, 1 to 148654
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148045 non-null  float64
 3   OvertimePay       148650 non-null  float64
 4   OtherPay          148650 non-null  float64
 5   Benefits          112491 non-null  float64
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int64
 9   Notes             0 non-null       float64
 10  Agency            148654 non-null  object
 11  Status            0 non-null       float64
dtypes: float64(8), int64(1), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [8]:
sal['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [10]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [19]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

Id
25    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [24]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

Id
25    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [26]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

      EmployeeName  ... Status
Id                  ...
1   NATHANIEL FORD  ...    NaN

[1 rows x 12 columns]

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [27]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

       EmployeeName                    JobTitle  ...         Agency  Status
Id                                               ...
148654    Joe Lopez  Counselor, Log Cabin Ranch  ...  San Francisco     NaN

[1 rows x 12 columns]

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [29]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [31]:
len(sal['JobTitle'].unique())

2159

** What are the top 5 most common jobs? **

In [33]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [36]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [59]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [60]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [61]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [62]:
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

# Great Job!